body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.checkbox {
  display: block;
  float: left;
  margin-top: 3px;
}

.checkbox-label {
  display: block;
  position: relative;
  float: left;
  z-index: 80;
  width: 51.5154613874%;
  height: 24px;
  margin: -442px 0 0 9.9456%;
}

.checkbox-label .point-text {
  margin-left: 6px;
}

.container1 {
  position: relative;
  float: left;
  z-index: 0;
  width: 99.8691099476%;
  height: 3215px;
  border: 21px solid rgb(255, 255, 255);
  background-color: #b0d6e1;
}

.image {
  text-align: center;
  display: block;
  position: relative;
  float: left;
  z-index: 1;
  width: 345px;
  height: auto;
  margin: -3231px 0 0 27.04925%;
  overflow: hidden;
}

.point-text,
.radio {
  display: block;
  float: left;
}

.radio-label {
  display: block;
  position: relative;
  float: left;
}

.radio-label .point-text {
  margin-left: 6px;
}

.radio-label .radio {
  margin-top: 3px;
}

.radio-label .text {
  clear: both;
  margin: 27px 0 0 22.88365%;
}

.text {
  float: left;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  position: relative;
  float: left;
  z-index: 83;
  width: 20.454401178%;
  height: 58px;
  margin: -134px 0 0 9.9456%;
  border-radius: 3px;
  background-color: rgb(221, 122, 44);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

._input {
  display: block;
  position: relative;
  float: left;
  height: 46px;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

._textarea {
  display: block;
  position: relative;
  float: left;
  width: 67.9319371727%;
  height: 151px;
  margin-left: 9.9456%;
  padding: 5px;
  background-color: rgb(242, 242, 242);
  font-size: 1em;
  color: rgb(0, 0, 0);
  resize: none;
}

.point-text-1 {
  position: relative;
  z-index: 6;
  margin: -2830px 0 0 95px;
}

.point-text-10 {
  position: relative;
  z-index: 45;
  margin: -1108px 0 0 96px;
}

.point-text-11 {
  position: relative;
  z-index: 47;
  margin: -1068px 0 0 96px;
}

.point-text-12 {
  position: relative;
  z-index: 49;
  margin: -1029px 0 0 96px;
}

.point-text-13 {
  position: relative;
  z-index: 52;
}

.point-text-2 {
  position: relative;
  z-index: 8;
  margin: -2783px 0 0 95px;
}

.point-text-3 {
  position: relative;
  z-index: 21;
  margin: -2073px 0 0 96px;
}

.point-text-4 {
  position: relative;
  z-index: 23;
  margin: -2026px 0 0 96px;
}

.point-text-5 {
  position: relative;
  z-index: 34;
  margin: -1374px 0 0 97px;
}

.point-text-6 {
  position: relative;
  z-index: 36;
  margin: -1327px 0 0 97px;
}

.point-text-7 {
  position: relative;
  z-index: 38;
  margin: -1287px 0 0 96px;
}

.point-text-8 {
  position: relative;
  z-index: 41;
  margin: -1198px 0 0 96px;
}

.point-text-9 {
  position: relative;
  z-index: 43;
  margin: -1151px 0 0 96px;
}

.radio-1 {
  position: relative;
  z-index: 5;
  margin: -2827px 0 0 9.9456%;
}

.radio-10 {
  position: relative;
  z-index: 44;
  margin: -1105px 0 0 9.9456%;
}

.radio-11 {
  position: relative;
  z-index: 46;
  margin: -1066px 0 0 10.01718%;
}

.radio-12 {
  position: relative;
  z-index: 48;
  margin: -1026px 0 0 9.9456%;
}

.radio-2 {
  position: relative;
  z-index: 7;
  margin: -2780px 0 0 9.9456%;
}

.radio-3 {
  position: relative;
  z-index: 20;
  margin: -2072px 0 0 10.01718%;
}

.radio-4 {
  position: relative;
  z-index: 22;
  margin: -2025px 0 0 10.01718%;
}

.radio-5 {
  position: relative;
  z-index: 33;
  margin: -1373px 0 0 10.10308%;
}

.radio-6 {
  position: relative;
  z-index: 35;
  margin: -1326px 0 0 10.10308%;
}

.radio-7 {
  position: relative;
  z-index: 37;
  margin: -1286px 0 0 10.0355899999%;
}

.radio-8 {
  position: relative;
  z-index: 40;
  margin: -1192px 0 0 10.01718%;
}

.radio-9 {
  position: relative;
  z-index: 42;
  margin: -1145px 0 0 10.01718%;
}

.radio-label-1 {
  z-index: 3;
  width: 5.5%;
  height: 25px;
  margin: -2755px 0 0 10.41394%;
}

.radio-label-10 {
  z-index: 76;
  width: 20.454401178%;
  height: 26px;
  margin: -582px 0 0 9.9456%;
}

.radio-label-2 {
  z-index: 4;
  width: 25.6%;
  height: 31px;
  margin: -2755px 0 0 9.99673%;
}

.radio-label-3 {
  z-index: 54;
  width: 26.454401178%;
  height: 22px;
  margin: -930px 0 0 9.9456%;
}

.radio-label-4 {
  z-index: 57;
  width: 26.4541066753%;
  height: 22px;
  margin: -893px 0 0 10.09899%;
}

.radio-label-5 {
  z-index: 60;
  width: 26.4541066753%;
  height: 22px;
  margin: -854px 0 0 10.0355899999%;
}

.radio-label-6 {
  z-index: 63;
  width: 26.4541066753%;
  height: 22px;
  margin: -817px 0 0 10.0355899999%;
}

.radio-label-7 {
  z-index: 66;
  width: 26.4541066753%;
  height: 22px;
  margin: -779px 0 0 10.0355899999%;
}

.radio-label-8 {
  z-index: 70;
  width: 17.1036485602%;
  height: 22px;
  margin: -674px 0 0 9.9456%;
}

.radio-label-9 {
  z-index: 73;
  width: 17.1036485602%;
  height: 22px;
  margin: -626px 0 0 9.9456%;
}

.text-1 {
  position: relative;
  clear: both;
  z-index: 2;
  margin: -2910px 0 0 9.99673%;
}

.text-10 {
  position: relative;
  z-index: 27;
  width: 30.4973821989%;
  min-height: 25px;
  margin: -1789px 0 0 10.19102%;
}

.text-11 {
  position: relative;
  z-index: 29;
  width: 30.4973821989%;
  min-height: 25px;
  margin: -1682px 0 0 10.25033%;
}

.text-12 {
  position: relative;
  z-index: 30;
  margin: -1554px 0 0 10.25033%;
}

.text-13 {
  position: relative;
  z-index: 31;
  width: 40.8233802356%;
  min-height: 93px;
  margin: -1490px 0 0 10.09899%;
}

.text-14 {
  position: relative;
  z-index: 32;
  width: 51.0471204188%;
  min-height: 25px;
  margin: -1417px 0 0 10.10308%;
}

.text-15 {
  position: relative;
  z-index: 39;
  width: 51.0471204188%;
  min-height: 25px;
  margin: -1236px 0 0 10.01718%;
}

.text-16 {
  position: relative;
  z-index: 50;
  width: 35.6041393979%;
  min-height: 33px;
  margin: -970px 0 0 9.9456%;
}

.text-18 {
  position: relative;
  z-index: 67;
  margin: -722px 0 0 10.09899%;
}

.text-19 {
  position: relative;
  z-index: 77;
  width: 40.8233802356%;
  min-height: 93px;
  margin: -519px 0 0 9.9456%;
}

.text-2 {
  position: relative;
  z-index: 9;
  width: 30.4973821989%;
  min-height: 25px;
  margin: -2730px 0 0 9.9456%;
}

.text-20 {
  position: relative;
  z-index: 81;
  width: 30.4973821989%;
  min-height: 25px;
  margin: -386px 0 0 9.9456%;
}

.text-3 {
  position: relative;
  z-index: 10;
  width: 40.8233802356%;
  min-height: 93px;
  margin: -2511px 0 0 9.9456%;
}

.text-4 {
  position: relative;
  z-index: 13;
  width: 30.4973821989%;
  min-height: 25px;
  margin: -2444px 0 0 10.14807%;
}

.text-5 {
  position: relative;
  z-index: 16;
  width: 30.4973821989%;
  min-height: 25px;
  margin: -2342px 0 0 10.14807%;
}

.text-6 {
  position: relative;
  z-index: 18;
  width: 51.0471204188%;
  min-height: 25px;
  margin: -2231px 0 0 10.09899%;
}

.text-7 {
  position: relative;
  z-index: 19;
  width: 51.0471204188%;
  min-height: 25px;
  margin: -2116px 0 0 10.01718%;
}

.text-8 {
  position: relative;
  z-index: 11;
  width: 40.8233802356%;
  min-height: 93px;
  margin: -1971px 0 0 10.14807%;
}

.text-9 {
  position: relative;
  z-index: 25;
  width: 30.4973821989%;
  min-height: 25px;
  margin: -1891px 0 0 10.61846%;
}

._input-1 {
  z-index: 12;
  width: 67.8010471204%;
  margin: -2410px 0 0 10.09899%;
}

._input-2 {
  z-index: 15;
  width: 67.8010471204%;
  margin: -2308px 0 0 10.09899%;
}

._input-3 {
  z-index: 17;
  width: 67.670157068%;
  margin: -2197px 0 0 10.09899%;
}

._input-4 {
  z-index: 24;
  width: 67.8010471204%;
  margin: -1857px 0 0 10.56733%;
}

._input-5 {
  z-index: 26;
  width: 67.8010471204%;
  margin: -1755px 0 0 10.14807%;
}

._input-6 {
  z-index: 28;
  width: 67.8010471204%;
  margin: -1637px 0 0 10.18284%;
}

._textarea-1 {
  z-index: 14;
  margin-top: -2700px;
}

._textarea-2 {
  z-index: 82;
  margin-top: -350px;
}

.point-text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.point-text-1 span,
.point-text-10 span,
.point-text-11 span,
.point-text-12 span,
.point-text-2 span,
.point-text-3 span,
.point-text-4 span,
.point-text-5 span,
.point-text-6 span,
.point-text-7 span,
.point-text-8 span,
.point-text-9 span {
  color: #dd7a2c;
}

.point-text-13 span,
.point-text-14 span,
.point-text-15 span,
.point-text-16 span,
.point-text-17 span,
.point-text-18 span,
.point-text-19 span,
.point-text-20 span {
  color: rgb(221, 122, 44);
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 span {
  background-color: rgba(19, 81, 159, 0);
  font-style: normal;
  font-size: 2.5em;
  text-decoration: inherit;
  color: rgb(19, 81, 159);
}

.text-12 span {
  background-color: transparent;
  font-style: inherit;
  font-size: inherit;
  text-decoration: underline;
  color: rgb(44, 152, 178);
}

.text-13 span,
.text-19 span,
.text-3 span,
.text-8 span {
  background-color: transparent;
  font-style: inherit;
  font-size: 2.188em;
  text-decoration: inherit;
  color: rgb(19, 81, 159);
}
